header {
  background-color: rgb(4, 104, 192);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 1rem;
  box-shadow: 0 2px 5px #0000004d;

}

* {
  color: white;
}

h1 {
  font-size: 2rem;
}

.socials {
  justify-self: flex-end;
}

.socials a {
 margin-left: .5rem;
}

nav {
  justify-self: center;
}

.header-small {
  display: none;
}

@media only screen and (max-width: 700px) {
  .header-small {
    display: block;
  }

  .header-large {
    display: none;
  }
}