<h2>Meet James</h2>
<hr>
<div class="about-container">
    <div>
        <h3>Description</h3>
        <p>
            Hi! I'm James and this is my website where I show off my personal projects and explore some of my current hobbies.
            I am a software developer from central Illinois but I am currently residing in the Dallas area.
            In my free time I like to hike through nature, play D&D, cook, and enjoy some of the latest video game releases.
        </p>
    </div>
    <div class="james-img">
        <img src="assets/self.jpg" class="james-img">
    </div>
    <div>
        <h3>Facts About Me</h3>
        <ul>
            <li>I have my Bachelors in computer engineering from the University of Illinois</li>
            <li>I have 2 years of work experience developing web based applications</li>
            <li>I am open to new job opportunities in the Dallas area</li>
        </ul>
    </div>
</div>